<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="todo.codepath.gmac.gmaccodepathtodo" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="todo.codepath.gmac.gmaccodepathtodo.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data android:name="com.google.android.backup.api_key" android:value="AEdPqrEAAAAIUHEWM9j0AUV5j5ZOhV759mS44fZFsD4xzf1f2A" />
    </application>

</manifest>

